$primary-color: #22282e;
$cyan-btn-color: #2b6cc8;
$blue-btn-color: #3c4e5f;
$green-btn-color: #51a061;
$grey-body-color: #f6f8f9;
$gray-heading: #565656;
$light-gray: #898989;

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: $grey-body-color;
}

//NAVBAR
.header-container {
    background: $primary-color;
    box-shadow:  0 2px 5px 0 rgba(0,0,0,.3);
}

.navbar {
    a {
        color: #ffffff;
    } // .dropdown:hover>.dropdown-menu {
    //     display: block;
    // }
    .dropdown-menu {
        a {
            color: #ffffff;
        }
        a:hover{
            color: #ffffff;
            background: #345e86;
        }
        background: $blue-btn-color;
    }
    ul li a:hover {
        color: #6d98c0;
    }
    .nav-link {
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 2em !important;
        padding-right: 2em !important;
    }
    .account-info-btn {
        background: $cyan-btn-color;
        border-radius: 5px;
    }
    .account-info-btn:hover {
        background: #3f79af;
        a{
            color: #ffffff;
        } 
    }
    .navbar-brand {
        font-size: 20px;
        margin-right: 0;
    }
}
.hamburger {
    background: rgba(50, 65, 79, 1);
}

.navbar-expand-md {
    padding-top: 15px;
}


//Sub-Nav
.sub-nav {
    background: #2f373f;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .nav-items{
        ul {
            list-style: none;
            padding: 0 !important;
            font-size: 15px;
            margin-bottom: 0.1rem;
            li {
                margin: 10px;
                margin-bottom: 3px;
                display: inline-block;
                .dropdown-item{
                    color: #ffffff;
                   
                }
                .dropdown-item:hover{
                    color: #949393;
                    border-bottom: 1px solid #0f5caf;
                    background: none;
                }
               .dropdown-item:active, .dropdown-item:focus{
                   background: none !important;
                   color: #ffffff;
               }
            }
        }
    }
  
}
.balance {
    color: #93c2f6 !important;
}
.balance:hover{
    border-bottom: hidden !important;
}

//mbtc
.mBtc{
    
}

.router-link-exact-active {
    // color: #007bff !important;
    color: #ffffff !important;
    border-bottom: 1px solid #3f9bff;
}

.main-data{
    max-width: 792px;
    padding: 0px 50px;
}

//Gifts
.gifts-table{
    font-size: 15px;
    color: #808080;
    tr{
        td{
            padding-left: 0;
        }
        td:first-of-type{
            padding: 13px 10px 13px 25px;
            width: 25%;
        }
        td:last-of-type{
            width: 20%;
        }
    }
    thead{
        border-bottom: hidden;
        tr{
            box-shadow: 0 5px 13px 0px rgba(0, 0, 0, 0.1);;
        }
        th{
            color: #2058a5;
            padding: 16px 10px 16px 0px;
        }
        th:first-of-type{
            padding: 16px 10px 16px 25px;
            width: 25%;
        }
        th:last-of-type{
            width: 20%;
        }
        
    }
}
.claimed{
    background: #2b6cc81a;
}

//Buttons-hover
.cyan-btn:hover{
    background: #2058a5 !important;
    color: #ffffff !important;
}
.blue-btn:hover{
    background: #345e86 !important; 
    color: #ffffff !important;
}

.space {
    margin: 5px;
}

//Dashboard 
.email-verify-label-container{
    background: #e00505bd;
    box-shadow: -3px -6px 13px 0px rgba(0,0,0,0.7);
    a {
        color: #ffffff;
    }
}

.dashboard-container{
    padding-left: 70px !important;
    padding-right: 70px !important;
}
.authCode-table{
    color: #808080;
    tr{
        td{
            padding-left: 0;
        }
        td:first-of-type{
            padding: 13px 10px 13px 25px;
        }
        td:last-of-type{
            width: 5%;
            text-align: right;
        }
    }
    thead{
        border-bottom: hidden;
        tr{
            box-shadow: 0 5px 13px 0px rgba(0, 0, 0, 0.1);;
        }
        th{
            color: #2058a5;
            padding: 16px 10px 16px 0px;
        }
        th:first-of-type{
            padding: 16px 10px 16px 25px;
        }
        th:last-of-type{
            width: 5%;
        }
    }
}
.add-licenses-container{
    border: none;
}
.table-container{
    background: #ffffff;
    // border-radius: 15px;
    margin-bottom: 25px;
    padding: 0;
    .license-list-container{
        li{
            list-style: none;
            border-bottom: 1px solid #d9d9da;
            padding: 0;
            margin: 10px;
       
        }
    }
}

//Payments
.payment-table{
    font-size: 15px;
    color: #808080;
    tr{
        td{
            padding-left: 0;
        }
        td:first-of-type{
            padding: 13px 10px 13px 25px;
            width: 25%;
        }
        td:last-of-type{
            width: 20%;
        }
    }
    thead{
        border-bottom: hidden;
        tr{
            box-shadow: 0 5px 13px 0px rgba(0, 0, 0, 0.1);;
        }
        th{
            color: #2058a5;
            padding: 16px 10px 16px 0px;
        }
        th:first-of-type{
            padding: 16px 10px 16px 25px;
            width: 25%;
        }
        th:last-of-type{
            width: 20%;
        }
        
    }
}
.table{
    // margin-top: 10px;
    margin-bottom: 10px;
    thead{
        border-top: hidden;
        tr:first-child{
            border-left: hidden;
        }
        tr:last-child{
            border-right: hidden;
        }
    }
    tbody{
       tr{
           td:first-of-type{
               border-left: hidden;
           }
           td:last-of-type{
                border-right: hidden;
           }
       }
       tr:last-of-type{
           border-bottom: hidden;
       }
    }
}
//Referrals
.referral-container {
    font-size: 18px;
    padding: 7px 8px 7px 8px;
    margin: 5px;
    background: #ffffff;
    border-radius: 10px; 
    .referral-link{
        color: #2b6cc8;
    }
    span{
        font-weight: bold;
        color: #000000;
    }
}
.ref-header{
    color: #007bff;
}
//Password
.form-submit-btn{
    background: #3177d8;
    color: #ffffff;
    border-radius: 10px;
    padding: 8px 30px;
    text-decoration: none !important;
    transition: color .5s ease-out;
}
.form-submit-btn:hover {
    background: #4090ff;
    color: #ffffff;
}
.form-container {
    padding-left: 3rem;
}

//purchase
.info-container-list{
    padding-left: 15px;
    color: #808080;
    .rate-info{
        color: #000000;
        font-weight: bold;
    }
    li{
        margin: 3px;
    }
}
.no-bullet{
    list-style: none;
}
.payment-btn{
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 43px;
    padding-right: 43px;
}
.redeem-btn{
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 18px;
    padding-right: 18px;
}
.payment-type-container{
   cursor: pointer;
   background: #4d86d4;
   box-shadow:  0 2px 5px 0 rgba(0,0,0,.3);
   margin: 0 0px;
   .option{
       padding: 0;
       transition: background 0.2s ease-in;
   }
      
    a.router-link-exact-active.router-link-active  {
        background: #2b6cc8;
        text-decoration: #8dbaf8 underline;
    }
    a.router-link-exact-active.router-link-active:hover{
        background: #1f89ff;   
    }
   
   .option:hover{
    background: #1f89ff;
   }
//    .option.active{
//     background: #4d86d4;
//    }
 
   a {
    color: #ffffff !important;
    text-decoration: none;
   }

}

.payment-options-container{
    text-align: center;
    .payment-option{
        transition: color .15s ease-out;
        cursor: pointer;
        padding: 12px;
        margin: 9px;
        font-size: 19px;
        border: 1px solid #4ea3ff;
        border-radius: 5px;
    }
    .payment-option:hover{
        background-image: linear-gradient(to right, #007bff, #1f89ff, #3896ff, #4ea3ff, #64afff);
        border-color: #007bff;
        color: #ffffff;
    }
}
.gift-field{
    width: 220px;
    margin-bottom: 10px;
    border: 1px solid #4ea3ff;
}
.deposit-field{
    border: 1px solid #4ea3ff;
}
//Email-verify-line-alert
.email-verify-label-container{
    p{
        font-size: 13px;
        color: #ffffff;
        font-weight: 100;
        cursor: default;
        a{
            font-weight: 800 !important;
            text-decoration: underline;
        }
    }
  
}

// REDEEM INPUT
.redeem-input{
    background-color: #ffffff;
   border-color: #007bff;
}

//BUTTONS 
.delete-btn{
    font-size: 20px;
    text-decoration: none !important;
    color: red;
}
.delete-btn:hover{
    color: #a31313;
}
.add-btn{
    font-size: 15px;
    color: #ffffff !important;
    padding: 5px 15px;
    text-transform: uppercase;
    text-decoration: none !important;
    background: #08bd35;
    border-radius: 3px;
    i{
        margin-left: 5px;
        margin-top: 1px;
    }
}
.add-btn:hover {
    background: #11d141;
    text-decoration: none !important;
    border: none !important;
}
.logout-link{
    cursor: pointer;
}
//Headings
h1.display-heading{
    color: #2b6cc8;
    font-size: 37px;
    font-weight: bold;
    font-family: Roboto !important;
}

 //FOOTER

 .footer{
    background: $primary-color;
    h4,h6{
        color: #ffffff;
    }
    p{
       color: $light-gray;
    }
    ul{
        padding:0;
        li{
            list-style: none;
            a{
                color: $light-gray;
                text-decoration: none;
            }
            a:hover{
                color: #afaeae;
            }
        }
    }
    .social-icons ul {
       padding-top: 15px;    
    }
    .social-icons li{
         display: inline-block;
         margin: 0px 15px 0px 15px;    
    }
    .social-icons li:first-of-type{
        margin: 0px 15px 0px 0px;
    }
    .social-icons li:hover{
       cursor: pointer;
    }
    .footer-container{
        padding: 96px 0px 96px 0px;
    }
    .main-footer-info-container{
        padding-left: 60px;
    }
}

//Media Queries
@media screen and (max-width: 768px) {
    .sub-nav {
        justify-content: flex-start;
        flex-direction: column;
        .nav-items {
            ul {
                li {
                    display: block;
                }
            }
        }
    }
    .dashboard-container{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .form-container {
        padding-left: 0;
    }

}
@media screen and (min-width: 768px) and (max-width: 784px) {
    .account-info-btn{
        .nav-link{
            font-size: 12px;
        }
    }    
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .footer{
        .footer-info, .main-footer-info-container{
            padding: 10px 0px 10px 30px !important;
        }
    }

}

@media screen and (max-width: 400px){
    .referral-link{
       font-size: 15px;
    }
    .authCode-table{
        tr{
            td:first-of-type{
                padding: 8px;
            }
        }
        thead{
            th {
                padding: 8px;
            }
            th:first-of-type {
                padding: 8px;
            }
            
        }
    }
    .gifts-table{
        tr{
            td:first-of-type{
                padding: 8px;
            }
        }
        thead{
            th {
                padding: 8px;
            }
            th:first-of-type {
                padding: 8px;
            }
            
        }
    }
    .payment-table{
        tr{
            td:first-of-type{
                padding: 8px;
            }
        }
        thead{
            th {
                padding: 8px;
            }
            th:first-of-type {
                padding: 8px;
            }
            
        }
    }
}
@media screen and (max-width: 550px){
    .info-container-list{
        margin-left: 0 !important;
    }
    .payment-btn, .redeem-btn{
        padding-left: 10px;
        padding-right: 10px;
    }

    .option-header{
        font-size: 19px;
    }
}