$primary-color: #22282e;
$cyan-btn-color: #2b6cc8;
$blue-btn-color: #3c4e5f;
$green-btn-color: #51a061;
$grey-body-color: #f6f8f9;
$gray-heading: #565656;
$light-gray: #898989;

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: $grey-body-color;
}

//NAVBAR
.header-container {
    background: $primary-color;
    box-shadow:  0 2px 5px 0 rgba(0,0,0,.3);
}

.navbar {
    a {
        color: #ffffff;
    } // .dropdown:hover>.dropdown-menu {
    //     display: block;
    // }
    .dropdown-menu {
        a {
            color: #ffffff;
        }
        a:hover{
            color: #ffffff;
            background: #345e86;
        }
        background: $blue-btn-color;
    }
    ul li a:hover {
        color: #6d98c0;
    }
    .nav-link {
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 2em !important;
        padding-right: 2em !important;
    }
    .account-info-btn {
        background: $cyan-btn-color;
        border-radius: 5px;
    }
    .account-info-btn:hover {
        background: #3f79af;
        a{
            color: #ffffff;
        } 
    }
    .navbar-brand {
        font-size: 20px;
        margin-right: 0;
    }
}
.hamburger {
    background: rgba(50, 65, 79, 1);
}

.navbar-expand-md {
    padding-top: 15px;
}


//Sub-Nav
.sub-nav {
    background: #2f373f;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .nav-items{
        ul {
            list-style: none;
            padding: 0 !important;
            font-size: 15px;
            margin-bottom: 0.1rem;
            li {
                margin: 10px;
                margin-bottom: 3px;
                display: inline-block;
                .dropdown-item{
                    color: #ffffff;
                   
                }
                .dropdown-item:hover{
                    color: #949393;
                    border-bottom: 1px solid #0f5caf;
                    background: none;
                }
               .dropdown-item:active, .dropdown-item:focus{
                   background: none !important;
                   color: #ffffff;
               }
            }
        }
    }
  
}
.balance {
    color: #93c2f6 !important;
}
.balance:hover{
    border-bottom: hidden !important;
}

.router-link-exact-active {
    // color: #007bff !important;
    color: #ffffff !important;
    border-bottom: 1px solid #3f9bff;
}

//Gifts
.gifts-table{
    font-size: 15px;
    color: #808080;
    tr{
        td{
            padding-left: 0;
        }
        td:first-of-type{
            padding: 13px 10px 13px 25px;
            width: 25%;
        }
        td:last-of-type{
            width: 20%;
        }
    }
    thead{
        border-bottom: hidden;
        tr{
            box-shadow: 0 5px 13px 0px rgba(0, 0, 0, 0.1);;
        }
        th{
            color: #2058a5;
            padding: 16px 10px 16px 0px;
        }
        th:first-of-type{
            padding: 16px 10px 16px 25px;
            width: 25%;
        }
        th:last-of-type{
            width: 20%;
        }
        
    }
}
.claimed{
    background: #2b6cc81a;
}

//Buttons-hover
.cyan-btn:hover{
    background: #2058a5 !important;
    color: #ffffff !important;
}
.blue-btn:hover{
    background: #345e86 !important; 
    color: #ffffff !important;
}

//Dashboard 
.dashboard-container{
    padding-left: 70px !important;
    padding-right: 70px !important;
}
.authCode-table{
    color: #808080;
    tr{
        td{
            padding-left: 0;
        }
        td:first-of-type{
            padding: 13px 10px 13px 25px;
        }
        td:last-of-type{
            width: 20%;
        }
    }
    thead{
        border-bottom: hidden;
        tr{
            box-shadow: 0 5px 13px 0px rgba(0, 0, 0, 0.1);;
        }
        th{
            color: #2058a5;
            padding: 16px 10px 16px 0px;
        }
        th:first-of-type{
            padding: 16px 10px 16px 25px;
        }
        th:last-of-type{
            width: 20%;
        }
    }
}
.add-licenses-container{
    border: none;
}
.table-container{
    background: #ffffff;
    border-radius: 15px;
    margin-bottom: 25px;
    padding: 0;
    .license-list-container{
        li{
            list-style: none;
            border-bottom: 1px solid #d9d9da;
            padding: 0;
            margin: 10px;
       
        }
    }
}

//Payments
.payment-table{
    font-size: 15px;
    color: #808080;
    tr{
        td{
            padding-left: 0;
        }
        td:first-of-type{
            padding: 13px 10px 13px 25px;
            width: 25%;
        }
        td:last-of-type{
            width: 20%;
        }
    }
    thead{
        border-bottom: hidden;
        tr{
            box-shadow: 0 5px 13px 0px rgba(0, 0, 0, 0.1);;
        }
        th{
            color: #2058a5;
            padding: 16px 10px 16px 0px;
        }
        th:first-of-type{
            padding: 16px 10px 16px 25px;
            width: 25%;
        }
        th:last-of-type{
            width: 20%;
        }
        
    }
}
.table{
    // margin-top: 10px;
    margin-bottom: 10px;
    thead{
        border-top: hidden;
        tr:first-child{
            border-left: hidden;
        }
        tr:last-child{
            border-right: hidden;
        }
    }
    tbody{
       tr{
           td:first-of-type{
               border-left: hidden;
           }
           td:last-of-type{
                border-right: hidden;
           }
       }
       tr:last-of-type{
           border-bottom: hidden;
       }
    }
}

//Referrals
.referral-container {
    padding: 25px 8px 25px 8px;
    text-align: center;
    margin: 10px;
    background: #ffffff;
    border-radius: 10px; 
    .referral-link{
        color: #2b6cc8;
    }
    span{
        font-weight: bold;
    }
}
//Password
.form-submit-btn{
    background: #3177d8;
    color: #ffffff;
    border-radius: 10px;
    padding: 8px 30px;
    text-decoration: none !important;
    transition: color .5s ease-out;
}
.form-submit-btn:hover {
    background: #4090ff;
    color: #ffffff;
}
.form-container {
    padding-left: 3rem;
}


//BUTTONS 
.delete-btn{
    font-size: 15px;
    color: #ffffff !important;
    padding: 5px 15px;
    text-transform: uppercase;
    text-decoration: none !important;
    background: #ca0202;
    border-radius: 3px;
    i{
        padding: 3px;
    }
}
.delete-btn:hover{
    background: #ff1d1d;
}
.add-btn{
    font-size: 15px;
    color: #ffffff !important;
    padding: 5px 15px;
    text-transform: uppercase;
    text-decoration: none !important;
    background: #08bd35;
    border-radius: 3px;
    i{
        margin-left: 5px;
        margin-top: 1px;
    }
}
.add-btn:hover {
    background: #11d141;
    text-decoration: none !important;
    border: none !important;
}
//Headings
h1.display-heading{
    color: #2b6cc8;
    font-size: 37px;
    font-weight: bold;
    font-family: Roboto !important;
}

//Media Queries
@media screen and (max-width: 768px) {
    .sub-nav {
        justify-content: flex-start;
        flex-direction: column;
        .nav-items {
            ul {
                li {
                    display: block;
                }
            }
        }
    }
    .dashboard-container{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .form-container {
        padding-left: 0;
    }

}
@media screen and (min-width: 768px) and (max-width: 784px) {
    .account-info-btn{
        .nav-link{
            font-size: 12px;
        }
    }    
}

@media screen and (max-width: 400px){
    .authCode-table{
        tr{
            td:first-of-type{
                padding: 8px;
            }
        }
        thead{
            th {
                padding: 8px;
            }
            th:first-of-type {
                padding: 8px;
            }
            
        }
    }
    .gifts-table{
        tr{
            td:first-of-type{
                padding: 8px;
            }
        }
        thead{
            th {
                padding: 8px;
            }
            th:first-of-type {
                padding: 8px;
            }
            
        }
    }
    .payment-table{
        tr{
            td:first-of-type{
                padding: 8px;
            }
        }
        thead{
            th {
                padding: 8px;
            }
            th:first-of-type {
                padding: 8px;
            }
            
        }
    }
}
